* {
  font-family: sans-serif;
}

body {
  background-color: #e8b4dc;
}

#images img {
  height: 225px;
  width: 17%;
  margin: 35px;
  vertical-align: middle;
}

#images img:hover {
  border: 5px solid #bc42f4;
  transform: scale(2);
}

#chart:hover {
  transform: skewX(20deg);
}
