* {
  font-family: sans-serif;
}

body {
  background-color: #e8b4dc;
}

img {
  width: 25%;
}

text {
  text-align: center;
}

#images {
  text-align: center;
}

#images img {
  height: 225px;
  width: 17%;
  margin: 35px;
  vertical-align: middle;
}

#images img:hover {
  border: 5px solid #bc42f4;
  transform: scale(1.2);
}

#resultList:hover {
  transform: skewY(20deg);
}

#chart:hover {
  transform: skewX(20deg);
}
